styles.css
      html,  body {
            font-family: Arial, sans-serif;
            margin: 20px;
            flex-wrap: wrap;
            justify-content: space-between;
            background-image: url('mamgrey.jpg');
            background-size:cover; 
            background-repeat: no-repeat;
        }
       
        #session1, #session2, #session3 {
            float: left;
            width: 30%; 
            margin-left: 20px;
        }
       
        
        #session2, #session3 {
            clear: right; 
        }

        #session4, #session5, #session6 {
            float: left;
            width: 30%; 
            margin-left: 20px;
             
        }
        
        #session5, #session6{
            clear: right; 
        }


        table {
            width: 30%; 
            margin-bottom: 20px;
            border-collapse: collapse;
            margin-bottom: 20px;
           background-color: grey;
           color:gold;
        }
      

        th, td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
            
        }

        th {
            background-color: rgb(241, 238, 238);
            color: goldenrod;
        }

        .total {
            font-weight: bold;
            color: red;
        }

        #totalAmount {
            font-size: 18px;
            margin-top: 10px;
        }
    h1{
        text-align: center;
        color: goldenrod;
    }

    caption{
        font-weight: bold;
        font-size: 12px;
        color:gold;
    }

.total-amount{
    color:red;
    font: 20px;
}

tfoot{
    background-color: rgb(241, 238, 238);
}
input{
width: 70px;
border: none;
background-color: rgb(235, 224, 224);
text-align: center;
font: 20px;
}


#summary {
    margin: 0 auto; 
    width: 50%; 
}


#summary th,
#summary td {
    text-align: center;
}


#summary {
    border-collapse: collapse;
    border: 1px solid #ddd; 
}

#summary th,
#summary td {
    border: 1px solid #ddd; 
    padding: 8px;
}

#summary th {
    background-color: #f2f2f2; 
    color: #333; 
}

#summary .total-number,
#summary .total-amount {
    font-weight: bold;
    color: red;
}
